@font-face {
  font-family: "Satoshi";
  src: local("Satoshi"),
    url(./fonts/Satoshi/Satoshi-Black.otf) format("opentype");
}
@font-face {
  font-family: "Satoshi";
  src: local("Satoshi"),
    url(./fonts/Satoshi/Satoshi-Medium.otf) format("opentype");
}
