@import "../node_modules/bootstrap/scss/functions.scss";
@import "../node_modules/bootstrap/scss/variables.scss";
@import "../node_modules/bootstrap/scss/utilities.scss";
// $utilities: (
//   "width": (
//     property: width,
//     class: w,
//     values: (
//       20: 20px,
//       auto: auto,
//     ),
//   ),
//   "height": (
//     property: height,
//     class: h,
//     values: (
//       8: 8px,
//       auto: auto,
//     ),
//   ),
// );

// $theme-colors: (
//   "purple": #6237de,
//   "gray": #eef1f4,
//   "lightgray": #f3f3f3,
//   "darkgray": #757883,
//   "lightgreen": #51d9b8,
// );

.blur {
  width: 100px;
  color: transparent !important;
  background: linear-gradient(
    90deg,
    #e3e9ee 16.67%,
    #b7c3ce 48.79%,
    #e9f0f7 82.46%
  );
}

$theme-colors: (
  //   primary: $purple,
  "purple": #6237de,
  primary: #6237de,
  secondary: #f3f3f3
);

// $primary: #6237de; // // $font-weight-bold: 700;
// // $font-weight-normal: 400;
// @import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap.scss";
